<ion-view view-title="Бидний тухай">
    <ion-content class="login-page-content" ng-controller="loginCtrl">
        <div class="about-login">
            <div class="about-logo">
                <img src="/www/img/bid.jpg" alt="">
            </div>
            <div class="about-body">
                <span>Манай байгууллага 2000 оноос эхлэн ард түмнийхээ амны эрүүл мэндийн энхийн манаанд цагаан халаадтайгай асран тэтгэж буй байгууллага билээ.</span>
                <h3>Ерөнхий эмч, ажилтан</h3>
                <div class="about-list">
                    <span>Болд Сувд : Захирал</span>
                    <span>Бат Чимгээ : Ерөнхий эмч</span>
                    <span>Өлзийсайхан : Эмч</span>
                    <span>Сувд Батчимэг : Угтагч, зөвлөгч</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>