<ion-view view-title="Тоног төхөөрөмж">
    <ion-content class="login-page-content" ng-controller="equCtrl">
        <div class="equ-login">
            <ion-slide-box on-slide-changed="slideHasChanged($index)" class="custom-slide-box">
                <ion-slide>
                    <div class="box blue">
                        <img src="/www/img/tonog/1.jpg" alt="">
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box yellow">
                        <img src="/www/img/tonog/2.jpg" alt="">
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box pink">
                        <img src="/www/img/tonog/3.jpg" alt="">
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box pink">
                        <img src="/www/img/tonog/4.jpg" alt="">
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>