<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <!-- <ion-item menu-close href="#/app/greenScreen">
          Кассын дэвтэр - 1
        </ion-item>
        <ion-item menu-close href="#/app/redScreen">
          Кассын дэвтэр - 2
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlist
        </ion-item> -->
        <ion-item menu-close href="#/app/about">
          Бидний тухай
        </ion-item>
        <ion-item menu-close href="#/app/equ">
          Тоног төхөөрөмж
        </ion-item>
        <ion-item menu-close href="#/login" ng-click="logOut()">
          Гарах
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>